div{
  font-size: 4rem;
}
div, h1{
  color: #555;
}

a, a:visited{
  color: inherit;
}

.clear{
  clear: both;
}

#container{
  margin: 0.5rem;
  padding: 0;
}

h1{
  color: brown;
  text-align: center;
  font-size: 6rem;
  padding-top: 4rem;
}

.time{
  font-size: 8rem;
  text-align: center;
  padding-top: 2rem;
}

.clickable{
  background-color: #eee;
}

.holdable{
  background-color: #55f;
}

.holdable, .clickable{
  box-shadow: 0.2rem 0.2rem 0.5rem #888;

  /* Make sure this div is not selectable*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.holdable .text{
  font-size: 2rem;
  text-align: center;
  color: white;
}

.clickable.active{
  background-color: #aaa;
}
.holdable:active{
  background-color: #999;
}


#both{
  width: 50%;
  margin: 0 auto;
  padding: 1rem 0;
  text-align: center;
}
#both .text{
}

.conversationalist-holder + .conversationalist-holder{
  float: right;
}

.conversationalist-holder{
  float: left;
  width: 40%;
}

.clickable, .holdable{
  border: 3px solid #ccc;
}

#more{
  width: 50%;
  margin: 0 auto;
  text-align: center;
}



.conversationalist{
  font-size: 6rem;
  text-align: center;
  padding-top: 0rem;
  padding-bottom: 6rem;
}

.info{
  font-size: 2rem;
  text-align: center;
}

#refresh-message{
  padding-bottom: 2rem;
}

#source{
  padding-bottom: 1rem;
}
