
div, h1{
  font-size: 4rem;
  color: #333;
}

#container{
  margin: 0.5rem;
  padding: 0;
}

h1{
  color: brown;
  text-align: center;
  display: none; /* need the vertical space on smartphone*/
}

.time{
  text-align: center;
  padding-top: 0rem;
}

.clickable{
  background-color: #eee;
}
.clickable.active{
  background-color: #aaa;
}


#both{
  width: 18%;
  margin: 0 auto;
  text-align: center;
}
#both .text{
}

.conversationalist-holder + .conversationalist-holder{
  float: right;
}

.conversationalist-holder{
  float: left;
  width: 40%;
}

.conversationalist-holder, #both{
  border: 3px solid #ccc;
}



.conversationalist{
  font-size: 6rem;
  text-align: center;
  padding-top: 0rem;
  padding-bottom: 6rem;
}
